<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Angular - MVCBlog</a>
  </nav>
</header>

<main role="main">
  <div class="container">
    <div *ngIf="getFlash()" class="alert alert-warning alert-dismissible fade show" role="alert">
      {{getFlash()}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="onCloseFlash()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <router-outlet></router-outlet>
  </div>
</main>
