<h1>Editar artículo</h1>
<form [formGroup]="postForm">
  <div class="form-group">
    <label for="titleInput">Título</label>
    <input id="titleInput" class="form-control" type="text" formControlName="title">
  </div>
  <div class="form-group">
    <label for="contentTextArea">Contenido</label>
    <textarea id="contentTextArea" class="form-control" formControlName="content"></textarea>
  </div>

  <div *ngIf="error" class="form-row alert alert-danger">{{error}}</div>

  <button (click)="onSubmitForm()" [disabled]="!postForm.valid" class="btn btn-primary">
    Guardar artículo
  </button>
</form>
