<h1>Artículos</h1>
<table class="table">
  <tr>
    <th>Título</th>
    <th>Autor</th>
    <th>Acciones</th>
  </tr>

  <tr *ngFor="let post of posts">
    <td>
      <a [routerLink]="['/post', post.id]">{{post.title}}</a>
    </td>
    <td>
      {{post.author}}
    </td>
    <td>
      <a *ngIf="isOwner(post)" [routerLink]="['/posts/edit/', post.id]">Editar</a>
      <button *ngIf="isOwner(post)" class="btn btn-link" (click)="onDelete(post.id)">Eliminar</button>
    </td>
  </tr>
</table>

<a *ngIf="isLogged()" [routerLink]="['/posts/add']">Crear artículo</a>
