<h1 i18n>Artículos</h1>
<table class="table">
  <tr>
    <th i18n>Título</th>
    <th i18n>Autor</th>
    <th i18n>Acciones</th>
  </tr>

  <tr *ngFor="let post of posts">
    <td>
      <a [routerLink]="['/post', post.id]">{{post.title}}</a>
    </td>
    <td>
      {{post.author}}
    </td>
    <td>
      <a *ngIf="isOwner(post)" [routerLink]="['/posts/edit/', post.id]" i18n>Editar</a>
      <button *ngIf="isOwner(post)" class="btn btn-link" (click)="onDelete(post.id)" i18n>Eliminar</button>
    </td>
  </tr>
</table>

<a *ngIf="isLogged()" [routerLink]="['/posts/add']" i18n>Crear artículo</a>
